.admin-dashboardd {
  margin-top: 40px;
  text-align: center;
  background-color: black;
  min-height: 100vh;
  color: white;
  position: relative;
   padding-top: 60px;
}

.dashboard-titled {
  font-size: 36px;
}

.dashboard-subtitled {
  color: red;
  margin-bottom: 40px;
}

.dashboard-buttonsd {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.dash-btnn {
  background: red;
  color: white;
  padding: 18px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}


.logout-btn{
  position: absolute;
  top: 70px;
  left: 20px;
  background-color: rgb(252, 83, 83);
  color: white;
  padding: 18px 28px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

