.orders-container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  color: white;
  margin-top: 100px;
}


.orders-container h2 {
  text-align: center;
  margin-bottom: 20px;
}


.order-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.order-card {
  background: #1c1c1c;
  border-radius: 12px;
  padding: 20px;
}


.order-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}


.order-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  background: #2a2a2a;
}


.order-info {
  flex: 1;
}


.product-names {
  margin-bottom: 10px;
}

.product-names p {
  margin: 4px 0;
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
}

.order-info p {
  margin: 6px 0;
  font-size: 14px;
  color: #ccc;
}


.status {
  margin-top: 5px;
  font-weight: 500;
}

.status.Pending {
  color: orange;
}

.status.Completed {
  color: lightgreen;
}

.status.Cancelled {
  color: red;
}


.no-orders {
  text-align: center;
  font-size: 16px;
}